pyrogram==2.0.35
tgcrypto==1.2.3
pickle5==0.0.11
telegraph==2.1.0
pykeyboard==0.1.5
halo==0.0.31
Wand==0.6.8
tensorflow-cpu==2.9.1
requests
SpeechRecognition
pydub
gTTS
Pillow
bs4
ttconv
py2many
pyzbar
pyinstaller
asteval
arrow
plotly
kaleido
websocket-client